name: Build and Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        required: true
        default: '1.0.0'

jobs:
  create_release:
    runs-on: ubuntu-latest
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - name: Create Release
        id: create_release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          name: ${{ github.event.inputs.version }}
          draft: true
          prerelease: false

  build:
    runs-on: ${{ matrix.runners.image }}
    needs: create_release

    strategy:
      matrix:
        runners:
          - name: macos-aarch64
            image: macos-latest
            target: aarch64-apple-darwin
            artifact: server-runner

          - name: macos-x86-64
            image: macos-latest
            target: x86_64-apple-darwin
            artifact: server-runner

          - name: linux-x86-64
            image: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            artifact: server-runner

          - name: linux-aarch64
            image: ubuntu-latest
            target: aarch64-unknown-linux-gnu
            artifact: server-runner

          - name: windows-x86-64
            image: windows-latest
            target: x86_64-pc-windows-msvc
            artifact: server-runner.exe

          - name: windows-aarch64
            image: windows-latest
            target: aarch64-pc-windows-msvc
            artifact: server-runner.exe

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Install Linux aarch64 gcc
        if: ${{ matrix.runners.name == 'linux-aarch64' }}
        run: sudo apt-get update && sudo apt-get install -y gcc-aarch64-linux-gnu

      - name: Install build target
        run: rustup target add ${{ matrix.runners.target }}

      - name: Build
        run: cargo build --release --target=${{ matrix.runners.target }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: server-runner-${{ inputs.version }}-${{ matrix.runners.name }}
          path: target/${{ matrix.runners.target }}/release/${{ matrix.runners.artifact }}

      - name: Compress artifact ${{ matrix.runners.name }}
        run: tar -czf server-runner-${{ github.event.inputs.version }}-${{ matrix.runners.name }}.tar.gz -C ./target/${{ matrix.runners.target }}/release ${{ matrix.runners.artifact }}

      - name: Upload Release Asset ${{ matrix.runners.name }}
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.event.inputs.version }}
          files: ./server-runner-${{ github.event.inputs.version }}-${{ matrix.runners.name }}.tar.gz
